header {
    height:20vh;
    min-height:100px;
    background-size:cover;
    background-color: white;
  }
#banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  padding: 16em 0em 14em;
  text-align: center;

}
body {
    background-color: #ddd;
}
#timecenter {
  position: fixed;
   width: 300px;
   height: 200px;
   z-index: 15;
   top: 50%;
   left: 50%;
   margin: -150px 0 0 -150px;
   text-align: center;
}
.ml3 {
  font-weight: 900;
  font-size: 3.5em;
}
