header {
    height:20vh;
    min-height:100px;
    background-size:cover;
    background-color: white;
  }
#banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  padding: 16em 0em 14em;
  text-align: center;
  //background-image:url("file:///Users/brandonpatterson/Desktop/personalwebsite/images/pexels-burst-374857.jpg");
}
body {
    background-color: #ddd;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}
